body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
form,input,textarea,p,th,td {
padding: 0;
margin: 0;
font-size: 12px;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.clear{
	overflow: hidden;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
img {
border: 0;
}
em,strong,th {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
a{
text-decoration: none;
color: black;
}